@model List<Blog.Models.Category>

@{
    ViewBag.Title = "List";
}
<hr />
<hr />
<hr />
<div class="well">
    <div class="container">
        <h3>Categorys</h3>
    </div>
    <div class="container">
        <div class="row">
            @foreach (var category in Model)
            {
                <div class="col-sm-7">
                    <p>
                        <h4>
                            @Html.ActionLink(string.Format($"{category.Name} ({category.Articles.Count})"),
                        "ListArticles", "Home", new { @categoryId = category.Id }, null)
                        </h4>
                    </p>
                </div>
            }
        </div>
    </div>
</div>
<hr />
